* {
  padding: 0px;
  margin: 0px;
  font-family: "Raleway";
}

body {
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, rgba(92, 200, 250, 0.5)),
    color-stop(17%, rgba(92, 200, 250, 0.5)),
    color-stop(58%, rgba(92, 200, 250, 0.5)),
    color-stop(100%, rgba(44, 241, 149, 0.5))
  );
}

form {
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 30%;
  height: 80%;
  padding: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  border-radius: 10px;
  margin: 180px;
}

input {
  border: none;
  resize: none;
  outline: none;
  padding: 15px 0px;
  width: 80%;
  margin: 20px;
  transition: all 300ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

input:focus {
  border-bottom-color: #089cb6;
}

button {
  border: none;
  outline: none;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, rgb(13, 193, 248)),
    color-stop(58%, rgb(44, 241, 188)),
    color-stop(100%, rgb(44, 241, 149))
  );
  padding: 15px;
  width: 200px;
  color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 300ms;
}

button:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 10px;
}
body {
  background-color: #632432;
  font-family: Arial;
}

.main-container {
  margin: 150px auto;
  width: 600px;
}

table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

th,
td {
  padding: 20px;
}

thead {
  background-color: #246355;
  border-bottom: solid 5px #0f362d;
  color: white;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:hover td {
  background-color: #369681;
  color: white;
}
